body {
  font-family: 'Arial', sans-serif;
  background-color: #15202b;
  color: white;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.app-header {
  text-align: center;
  font-size: 2rem;
  color: #1da1f2;
  margin-bottom: 20px;
}

.fetch-button {
  background-color: #007BFF;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.fetch-button:hover {
  background-color: #0056b3;
}

.profile-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.profile-card {
  display: flex;
  background-color: #192734;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info h2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}

.bio {
  font-size: 1rem;
  color: #aab8c2;
  margin: 10px 0;
}

.profile-info p {
  margin: 5px 0;
}

.profile-info a {
  color: #1da1f2;
  text-decoration: none;
}

.profile-info a:hover {
  text-decoration: underline;
}
